html{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #E5E5E5;

}

.container{
    display: flex;
    width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3);
    max-width: 835px;
    max-height: 600px;
}

.image{
    position: relative;
    right: 110px;
    width:40%;
    height: 40%;
}

h1{
    margin-bottom: 20px;
}

h2{
    font-weight: 300;
    line-height: 30px;
}

h2,p{
    padding-bottom: 10px;
    width: 90%;
}

.seta{
    background-image: url(/src/seta.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 0.7rem;
  }

.container .text .faq .text-faq{
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}
p{
    display: none;
    border-bottom: solid gray 1px;
}

.container .text .visible{
    display: flex;
    align-items: center;
}

.faq .text-faq {
    cursor: pointer;
    border-bottom: 1px solid gray;;
    margin-bottom: 15px;
}

.faq .text-faq.active p{
    display: block;
}

.active .seta{
    background-image: url(../src/seta-colorida.png);
    width: 1.3rem;
    height: 0.7rem;
    background-size: cover;
    background-repeat: no-repeat;
}